.accountDiv1 {
  width: 100%;
}

.accountDiv1 h1 {
  color: var(--black);
  font-family: "Roboto", sans-serif;
}

.accountDiv2 {
  width: 94%;
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
}

.accountDiv21 {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.accountDiv211 {
  width: 40%;
}

.accountDiv211 img {
  width: 200px;
}

.accountDiv212 {
  width: 50%;
  color: var(--black);
}

.accountDiv212 h3 {
  font-weight: 600;
}

.accountDiv22 {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.accounDiv221 {
  width: 70%;
  color: var(--black);
}

.accountDiv2211 {
  display: flex;
  justify-content: space-between;
  margin-top: -7px;
}

.accountDiv2211 h3 {
  font-weight: 600;
  color: var(--black);
}

.accounDiv222 {
  width: 10%;
  font-size: 20px;
  color: var(--black);
}

.accountDiv3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.accountDiv31 {
  width: 65%;
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
}

.accountDiv32 {
  margin-right: 2%;
}

.accountDiv321 {
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
}

.accountDiv322 {
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
}
