.chatDiv1 {
  width: 100%;
}

.chatDiv1 h1 {
  color: var(--black);
  font-family: "Roboto", sans-serif;
}

.chatDiv2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.chatDiv21 {
  width: 25%;
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
}

.chatDiv22 {
  width: 63%;
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
  margin-right: 2%;
}

.group-list div {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.group-list div:hover {
  background-color: #e0e0e0;
}

.chat-room {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 10px;
}

.message {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.my-message {
  background-color: #d0ffd0;
}

.message-input {
  display: flex;
  align-items: center;
}

.message-input input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.message-input button {
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.message-input button:hover {
  background-color: #0056b3;
}

.select-group {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 24px;
  color: #999;
}
