.chatDiv1 {
  width: 100%;
}

.chatDiv1 h1 {
  color: var(--black);
  font-family: "Roboto", sans-serif;
}

.chatDiv2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.chatDiv21 {
  width: 25%;
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
}

.chatDiv22 {
  width: 63%;
  background-color: var(--white);
  padding: 15px;
  border-radius: 10px;
  margin-right: 2%;
  height: 77vh;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #252626;
  border-bottom: 1px solid #ccc;
}

.messages {
  overflow-y: auto;
  height: 57vh;
}

.message {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  max-width: 30%;
  margin-top: 20px;
}

.my-message {
  background-color: #0040ff;
  color: white;
  align-self: flex-end;
  margin-left: auto;
  padding-top: 3px;
}

.my-message h3 {
  display: none;
}

.other-message {
  background-color: gainsboro;
  color: black;
  padding-top: 3px;
}

.message-input {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
  margin-top: 10px;
}

.message-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin: 0 10px;
}

.attachment-icon,
.send-icon {
  font-size: 20px;
  cursor: pointer;
  color: #0040ff;
}

.attachment-icon {
  margin-right: 10px;
}

.send-icon {
  margin-left: 10px;
}

.select-group {
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
}
