.headerMain {
  background-color: var(--white);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.headerDiv1 {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.headerDiv11 {
  display: flex;
  margin-left: 40px;
}

.headerDiv11 img {
  width: 20px;
  height: 30px;
  align-self: center;
}

.headerDiv11 h1 {
  align-self: center;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  margin-left: 10px;
}

.headerDiv12 {
  align-self: center;
  width: 50%;
  border: 1px solid #0070c0;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  padding-right: 2%;
}

.headerDiv12 input {
  width: 90%;
  padding: 5px;
  border: 1px solid #0070c0;
  border-radius: 10px;
}

.headerDiv2 {
  width: 7%;
  display: flex;
  align-self: center;
  justify-content: space-between;
  font-size: 20px;
  color: #0070c0;
  margin-right: 2%;
}
