.homeDiv1 {
  width: 100%;
}

.homeDiv1 h1 {
  color: var(--black);
  font-family: "Roboto", sans-serif;
}

.homeDiv2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.homeDiv21 {
  width: 65%;
}

.homeDiv211 {
  display: flex;
  justify-content: space-between;
  color: var(--black);
  margin-top: -15px;
}

.homeDiv212 {
  background-color: var(--white);
  padding: 20px;
  display: flex;
  border-radius: 10px;
  overflow-y: auto; /* Make it scrollable */
  max-height: 300px; /* Adjust height as needed */
}

.homeDiv2121 {
}

.homeDiv2121 img {
  width: 50px;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 100px;
}

.homeDiv2122 {
  margin-left: 10px;
  margin-top: -20px;
  color: var(--black);
  font-family: "Roboto", sans-serif;
  width: 80%;
}

.homeDiv21221 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.homeDiv21222 {
  display: flex;
  justify-content: space-between;
  margin-top: -5px;
}

.homeDiv21222 h3 {
  background-color: #c8c8c8;
  padding: 7px;
  border-radius: 10px;
}

.actionButton {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.moreDetails {
  margin-top: 10px;
}

.joinButton {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.homeDiv22 {
  width: 25%;
  margin-right: 2%;
}

.homeDiv221 {
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
}

.activityFeed {
  list-style: none;
  padding: 0;
}

.activityFeed li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: var(--black);
}

.homeDiv222 {
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
}

.recommendationRate {
  font-size: 24px;
  font-weight: bold;
  color: var(--black);
}
