.loginDiv1 {
  background-image: url(../images/loginBack.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.loginDiv2 {
  width: 35%;
  background-color: var(--white);
  padding-left: 150px;
  padding-right: 100px;
  padding-top: 57px;
  padding-bottom: 50px;
}

.loginDiv22 {
  margin-top: 40px;
}

.loginDiv22 h1 {
  color: var(--black);
  font-family: "Roboto", sans-serif;
}

.loginDiv22 h3 {
  color: var(--black);
  font-family: "Roboto", sans-serif;
  margin-top: -10px;
}

.loginDiv23 {
  margin-top: 40px;
  width: 85%;
}

.loginDiv23 h3 {
  color: var(--black);
  font-family: "Roboto", sans-serif;
}

.loginDiv23 input {
  padding: 12px;
  border-radius: 5px;
  width: 95%;
  border-width: 1px;
  background-color: var(--white);
}

.loginDiv23 h4 {
  text-align: right;
  color: var(--black);
  font-family: "Roboto", sans-serif;
}

.loginDiv23Btn {
  background: #8a24dd;
  background: linear-gradient(
    90deg,
    rgba(138, 36, 221, 1) 0%,
    rgba(251, 95, 153, 1) 100%
  );
  font-size: 14px;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.loginDiv23Btn h3 {
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.loginDiv24 {
  display: flex;
  margin-top: 20px;
  width: 85%;
  justify-content: space-between;
}

.loginDiv24 hr {
  background-color: #80808093;
  width: 40%;
  border: none;
  height: 2px;
}

.loginDiv24 h4 {
  color: #80808093;
  margin-top: -5px;
}

.loginDiv26 {
  width: 85%;
  display: flex;
  justify-content: center;
}

.loginDiv26 h3 {
  color: var(--black);
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 925px) {
  .loginDiv1 {
    background-color: var(--white);
    padding-top: 200px;
  }

  .loginDiv2 {
    width: 85.7%;
    background-color: var(--white);
    opacity: 0.95;
    padding: 20px;
    padding-left: 40px;
    padding-top: 57px;
    padding-bottom: 120px;
  }

  .loginDiv22 {
    margin-top: 60px;
  }

  .loginDiv22 h1 {
    font-size: 18px;
  }

  .loginDiv22 h3 {
    font-size: 12px;
  }

  .loginDiv23 {
    margin-top: 40px;
    width: 90%;
  }

  .loginDiv23 h3 {
    font-size: 12px;
  }

  .loginDiv23 input {
    padding: 12px;
    border-radius: 5px;
    width: 95%;
    border-width: 1px;
    background-color: var(--white);
  }

  .loginDiv23 h4 {
    font-size: 10px;
  }

  .loginDiv23Btn {
    background: #8a24dd;
    background: linear-gradient(
      90deg,
      rgba(138, 36, 221, 1) 0%,
      rgba(251, 95, 153, 1) 100%
    );
    font-size: 14px;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .loginDiv23Btn h3 {
    font-size: 12px;
  }

  .loginDiv24 {
    display: flex;
    margin-top: 20px;
    width: 90%;
    justify-content: space-between;
  }

  .loginDiv24 hr {
    background-color: #80808093;
    width: 40%;
    border: none;
    height: 2px;
  }

  .loginDiv24 h4 {
    color: #80808093;
    margin-top: -5px;
  }

  .loginDiv26 {
    width: 90%;
    display: flex;
    justify-content: center;
  }

  .loginDiv26 h3 {
    font-size: 12px;
  }
}
