.sideDiv1 {
  background: #33067b;
  width: 12%;
  height: 100%;
  margin-left: 2%;
  border-radius: 10px;
  padding-bottom: 10px;
}

.sideDiv2 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.sideDiv2 .logo {
  color: var(--white);
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  border: 1px solid var(--white);
  padding: 15px;
  border-radius: 100px;
}

.sideDiv3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.sideDiv3 a {
  font-size: 24px;
  color: var(--white);
  text-decoration: none;
  margin: 15px 0;
}

.sideDiv3 .icon {
  font-size: 24px;
  color: inherit;
}

.sideDiv3 a:hover .icon {
  background-color: var(--white);
  color: #33067b;
  padding: 10px;
  border-radius: 10px;
}

.sideDiv3 a.active .icon {
  background-color: var(--white);
  color: #33067b;
  padding: 10px;
  border-radius: 10px;
}

.sideDiv3 span {
  font-size: 24px;
  color: #4d4d4e;
}

.sideDiv3 span:hover {
  color: #cddc39;
}

.sideDiv3 a.active span {
  color: #cddc39;
}

@media screen and (max-width: 1200px) {
  .sideDiv1 {
    background: var(--purple);
    width: 100%;
    height: 10%;
    position: absolute;
    padding-bottom: 10px;
    top: 0;
    z-index: 3;
    min-height: 0px;
    display: flex;
    justify-content: space-between;
  }

  .sideDiv2 {
    width: 20%;
  }

  .sideDiv2 .logo {
    font-size: 45px;
    margin-top: 30px;
  }

  .sideDiv3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    width: 65%;
    padding-right: 15px;
  }

  .sideDiv3 a {
    font-size: 24px;
    color: var(--white);
    text-decoration: none;
    margin: 15px 0;
    transition: color 0.3s;
  }

  .sideDiv3 .icon {
    font-size: 24px;
    color: inherit;
    transition: color 0.3s;
  }

  .sideDiv3 a:hover .icon {
    background-color: var(--white);
    color: var(--purple);
    padding: 10px;
    border-radius: 10px;
  }

  .sideDiv3 a.active .icon {
    background-color: var(--white);
    color: var(--purple);
    padding: 10px;
    border-radius: 10px;
  }

  .sideDiv3 span {
    font-size: 24px;
    color: #4d4d4e;
    transition: color 0.3s;
  }

  .sideDiv3 span:hover {
    color: #cddc39;
  }

  .sideDiv3 a.active span {
    color: #cddc39;
  }
}
