.sideDiv1 {
  background: #0070c0;
  width: 12%;
  height: 87vh;
  margin-left: 2%;
  border-radius: 10px;
  padding-bottom: 10px;
}

.sideDiv2 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.sideDiv2 .logo {
  color: var(--white);
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  border: 1px solid var(--white);
  padding: 15px;
  border-radius: 100px;
}

.sideDiv3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.sideDiv3 a {
  font-size: 24px;
  color: var(--white);
  text-decoration: none;
  margin: 15px 0;
}

.sideDiv3 .icon {
  font-size: 24px;
  color: inherit;
  padding: 10px;
}

.sideDiv3 a:hover .icon {
  background-color: var(--white);
  color: #0070c0;
  padding: 10px;
  border-radius: 10px;
}

.sideDiv3 a.active .icon {
  background-color: var(--white);
  color: #0070c0;
  padding: 10px;
  border-radius: 10px;
}
